html, body, #page-wrapper, iframe#content-frame {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
#page-wrapper {
  padding-top: 26px !important;
  max-width: none !important;
}
