/* layuout */
#header-content,
#page-content {
  margin: auto;
  max-width: var(--max-content-width);
  padding-left: var(--content-side-padding);
  padding-right: var(--content-side-padding);
}
#page-content {
  padding-bottom: 120px;
}
.footer_container {
  margin-top: 90px;
}
h2 {
  margin: 2.8rem 0 1.4rem;
}


/* style */
#page-content {
  font-size: 1.05em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  color: #444;
}
h2 {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -.03rem;
  line-height: 2rem;
}
.footer_container {
  color: #888;
}
.footer-header {
  color: #999;
}
