@import './screen-buttons.css';

#header-container {
  text-align: center;
}
#header-container > #header-content {
  display: inline-flex;
}

.footer-section-title {
  color: #5a5d61;
}

#footer_container {
  padding-top: 40px;
}

.more_panel_block {
  margin: auto;
  max-width: var(--max-content-width);
  padding-left: var(--content-side-padding);
  padding-right: var(--content-side-padding);
  padding-top: 34px;
}
