.pretty_scroll_area__content_container {
  position: relative;
}
.pretty_scroll_area__content_container > #screen-buttons-wrapper {
  position: absolute;
}
#screen-buttons-wrapper {
  white-space: nowrap;
  top: 100px;
  right: 50px;
}
.screen-button {
  margin-top: 10px;
  padding: 10px;
}
.screen-button,
/* make sure that glass-background get rounded as well */
.screen-button:before,
.screen-button:after {
  border-radius: 10px;
}
#manual-fullscreen,
#manual-scroll {
  cursor: pointer;
}

.screen-button {
  opacity: 100;
  transition: opacity 0.7s ease-out;
}
.hide_scroll .screen-button,
#auto-scroll.screen-button[data-disable-auto-scroll] {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}


/* Icons */
.screen-button {
  position: relative;
  padding-left: 30px;
}
.screen-button:before {
  position: absolute;
  height: 100%;
  top: 0;
  left: 6px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  content: "";
  display: block;
}
#manual-fullscreen:before {
  background-image: url(./fullscreen.svg);
}
#manual-scroll:before {
  background-image: url(./center.svg);
}
#auto-scroll:before {
  background-image: url(./center.svg);
}


#auto-scroll:before {
  animation: blinker 1.3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.15;
  }
}
