body
{
  margin: 0;
  text-align:center;
}
#hint
{
  position: fixed;
  color: #888;
  width: 100%;
  top: 0;
  transition: opacity 1s ease-in-out;
}
#test2
{
  opacity: 0;
}
#text,#text2
{
  /*
  max-width: 100%;
  */
}
#text
{
  display: inline-block;
  outline: none;
  cursor: default;
  color: #222;
  font-family: sans;
  white-space: nowrap;
}
