#msg-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
#msg-container > #hint,
#msg-container > #text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
#text-container {
  overflow: hidden;
}

#hint {
  top: 10px !important;
  color: #888;
  font-size: 1.3em;
  transition: opacity 1s ease-in-out;
}

#text {
  display: inline-block;
  outline: none;
  cursor: default;
  color: #222;
  font-family: sans;
  white-space: nowrap;
}
