#msg-container-1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#msg-container-1 > #msg-container-2 {
  position: absolute;
}
 #msg-container-2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align:center;
}

#msg-container-2 > #hint {
  position: absolute;
}
#hint
{
  top: 0;
  color: #888;
  width: 100%;
  transition: opacity 1s ease-in-out;
}

#text
{
  outline: none;
  background: red;
  display: inline-block;
  outline: none;
  cursor: default;
  color: #222;
  font-family: sans;
  white-space: nowrap;
}
