#header-content  {
  display: flex;
  flex-wrap: wrap;
}
#header-content > * {
  height: 60px;
  display: flex;
  align-items: center;
}

.header-link {
  padding: 0 14px;
  text-decoration: none;
  padding-top: 1px;
}

a#header-logo {
  margin-right: 30px;
  text-decoration: none;
  white-space: nowrap;
}
@media (max-width:700px) {
  a#header-logo {
    margin-right: 15px;
  }
}

#header-logo > img {
  height: 39px;
  vertical-align: middle;
  display: inline-block;
}
#header-logo > b {
  vertical-align: middle;
  padding-left: 10px;
  font-size: 1.55em;
  /*
  position: relative;
  top: 2px;
  */
}

#header-logo > b {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  color: #31343d;
}
