#header-container {
  --header-link-margin: 15px;
}

#header-content  {
  display: flex;
}
#header-content > * {
  height: 60px;
  display: flex;
  align-items: center;
}

.header-link {
  padding: 0 14px;
  text-decoration: none;
}

a#header-logo {
  margin-right: 30px;
  text-decoration: none;
  white-space: nowrap;
}
@media (max-width:700px) {
  a#header-logo {
    margin-right: var(--header-link-margin);
  }
}
@media (max-width:600px) {
  #header-container {
    padding: 20px 0;
  }
  a#header-logo {
    display: block;
    padding-bottom: 7px;
  }
}


#header-logo > img {
  height: 39px;
  vertical-align: middle;
  display: inline-block;
}
#header-logo > b {
  vertical-align: middle;
  padding-left: 10px;
  font-size: 1.55em;
}
