/* Overall Layout */
#layout--container {
  height: 100vh;
  overflow: hidden !important;
}

#layout--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#layout--container > .layout_middle {
  flex-grow: 0;
  flex-shrink: 0;
}
#layout--container > #layout--top {
  flex-shrink: 0;
}
#layout--container > #layout--bottom {
  flex-shrink: 1;
}
#layout--container > #layout--top,
#layout--container > #layout--bottom {
  flex-basis: 0;
}



.position--center #layout--top,
.position--center #layout--bottom {
  flex-grow: 1;
}
.position--top #layout--top {
  flex-grow: 0;
}
.position--bottom #layout--top {
  flex-grow: 1;
}
.position--bottom #layout--bottom {
  flex-grow: 0;
}


#middle_table {
  margin: auto;
}
.position--left #middle_table {
  margin-left: 0;
}
.position--right #middle_table {
  margin-right: 0;
}



table {
  border-spacing: 0;
}
table td {
  padding:0;
}
#middle_table {
  white-space: nowrap;
}

#middle_table {
  text-align: center;
}
#middle_table td { min-width: 100% }




#middle_table *:not(input):not(a) {
	user-select: none;
}
#middle_table,#middle_table * { cursor: pointer; }

