@import '../../../tab-utils/ad_layout.css';

#primary-ad {
  margin: auto;
  transition: margin-top 0.7s ease-out;
  margin-top: calc( -1 * ( var(--ad-height) + var(--ad-border-width) + var(--ad-remover-height) ) );
}
html.show_ad #primary-ad {
  margin-top: 0px;
}
