#char2:before { content: "M" }
#char1:before { content: "A" }
body.isPm #char1:before { content: "P" }

body.noPeriod #char1,
body.noPeriod #char2,
body.noSeconds #digit1,
body.noSeconds #digit2{
  visibility: hidden;
}
body.noPeriod.noSeconds #char1,
body.noPeriod.noSeconds #char2,
body.noPeriod.noSeconds #digit1,
body.noPeriod.noSeconds #digit2{
  display: none;
}

#timeTable { margin: auto }
#timeTable td { min-width: 100% }
#timeRow > table {width: 100%} /* for metro app */

#digit1,
#digit2,
#char1,
#char2{
 font-size: 46%;
 /*
 line-height: .7em;
 */
 line-height: .9em;
 vertical-align: top;
}
#digit1,
#digit2{
  padding-bottom: .2em;
}
#char1,
#char2{
  /*side padding to make sure that width of char's cell > width of digit's cell*/
  padding-left: .05em;
  padding-right: .05em;
}
body:not(.noPeriod)  #time,
body:not(.noSeconds) #time{
  padding-right: .2em;
}


/* checkbox styling
{{{*/
input[type='checkbox'] {
    background: #292A2D;
    border: solid 1px #5E6064;
    height: 16px;
    width: 28px;
    position: relative;
    /*vertical-align: top;*/
    margin-right: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -webkit-transition: all 0.5s;
}

input[type='checkbox']:after {
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    background: #91949D;
    position: absolute;
    top: 1px;
    left: 13px;
    -webkit-border-radius: 2px;
    -webkit-transition: all 0.5s;
}

input[type='checkbox']:checked {
    border: solid 1px #5BA4D5;
    box-shadow: 0 0 5px #5BA4D5;
}

input[type='checkbox']:checked:after {
    background: #5BA4D5;
    left: 1px;    
}

/*}}}*/

label
{
  margin: 7px;
  /*white-space: nowrap;*/
  display: inline-block;
}
label > *
{
  margin: 2px;
}

label.pointerCursor,
label.pointerCursor > *
{
  cursor: pointer !important;
}

/* vertical align options*/
label:before
{
  content: " ";
  height: 100%;
  width: 0;
}
label:before,
label > *
{
  display: inline-block;
  vertical-align: middle;
}


/* color input playground: http://jsfiddle.net/BC7JD/2/ */
input[type='color']
{
  padding:0px;
  height: 16px;
  border: 0px;
}


*:not(input):not(a)
{
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

#date
{
  opacity: 0.7;
}
#timeTable,#timeTable * { cursor: pointer; }

/* options */
body
{
  font-size: .9em;
}
#options
{
  background:rgba(200,200,200,0.7);
  width: 100%;
  padding: 0.8em 0;
  text-shadow: none;
}
#options span
{
  color: #333;
}
/*
#options *
{
  margin: 0px 7px 4px;
  display: inline-block;
  color: #333!important;
}
#options * *
{
  margin: 3px;
}
*/

#options.hoverEnabled:hover {
  transition: opacity .5s linear;
}
#options {
  transition: opacity 2s ease-in-out;
}


/* STRUCTURE */
#options
{
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 0;
}

#options.hoverEnabled:hover
{
  opacity: 1;
}
html { overflow: hidden; }
body
{
  font-family: Helvetica, Arial;
}
body,html
{
	text-align:center;
	margin: 0;
	padding: 0;
}
html,body
{
  height: 100%;
}
table
{
  border-spacing: 0;
}
table td
{
  padding:0;
}

#content {
  margin: auto;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}


/* advertisement */
@media (max-width:727px) {
  .ad_desktop {
    display: none !important;
  }
  #ad, .ad_mobile {
    width: 320px;
    height: 50px;
  }
}
@media (min-width:728px){
  .ad_mobile {
    display: none !important;
  }
  #ad, .ad_desktop {
    width: 728px;
    height: 90px;
  }
}
.ad_desktop, .ad_mobile {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.ad_content {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* advertisement remover button */
#ad_remover_cell,
#ad_remover {
  height: 17px;
  text-align: right;
  vertical-align: middle;
}
#ad_remover {
  border-radius: 10px 10px 0 0;
  display: inline-block;
  background-color: rgba(200,200,200,0.7);
  padding: 2px 10px;
}
#ad {
  border: 1px solid rgba(200,200,200,0.7);
  border-bottom-width: 0;
  box-sizing: content-box !important;

  position: relative;
  overflow: hidden;
}
#ad_remover {
  text-decoration: none;
  color: #333;
  text-shadow: none;
}


html {
  opacity: 1;
  transition: opacity 0.5s linear;
}
html {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
  background-image: url("https://i.imgur.com/zqG5F.gif");
}
