:root {
  --panel_bg_1: rgba(255,255,255,.55);
  --panel_bg_2: rgba(0,0,0,.065);
  --panel-bg-blur: 5px;
  --panel-color: #373a4a;
  --panel-color-2: #4a4d57;
}

#more_panel {
  position: relative;
  z-index: 1;
}
#more_panel > * {
  position: relative;
}
#more_panel > #more_panel_background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#more_panel {
  width: 100vw;
}




#.glass-background {
  position: relative;
}
.glass-background:after {
  position: absolute;
}
.glass-background:after {
  pointer-events: none;
  background-color:  var(--panel_bg_2);
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glass-background {
  background-color: var(--panel_bg_1);
  backdrop-filter: blur(var(--panel-bg-blur));
  /*
  */
}
.glass-background {
  color: var(--panel-color);
}
.glass-background .big-text {
  color: var(--panel-color-2);
}

#more_panel {
  color: var(--panel-color);
}





/* more_panel_jumper */
#more_panel {
  position: relative;
}
#more_panel > #more_panel_jumper_wrapper {
  position: absolute;
}
#more_panel_jumper_wrapper {
  --height: 150px;
  height: var(--height);
  width: 100%;
  top: calc(-1 * var(--height));
}
#more_panel_jumper {
  position: absolute;
  margin: auto;
  --width: 140px;

  content: "";
  display: block;
  height: 65px;
  width: var(--width);
  bottom: 0;
  left: calc(100vw / 2 - var(--width) / 2);
  background-image: url(./cog.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  cursor: pointer;
}
#more_panel_jumper,
#more_panel_jumper:after {
  border-radius: 30px 30px 0 0;
}

#more_panel_jumper {
  transition: opacity 0.5s ease-out;
  opacity: 100;
}
.hide_scroll #more_panel_jumper
{
  transition: opacity 2s ease-out;
  opacity: 0;
}
#more_panel_jumper_wrapper:hover #more_panel_jumper {
  opacity: 100;
}










/* header */
#header {
  font-size: .9em;
  padding: 0.8em 0;
  text-shadow: none;
}

.header_links {
  margin: 20px;
}
.header_links a {
  padding: 0 20px;
}

#footer {
  font-size: 0.87em;
}
